<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Books</h1>
<form method="POST" action="/books">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <input type="text" name="title" placeholder="title">
    <input type="text" name="author" placeholder="author">
    <button type="submit">Add Book</button>
</form>

<h2>Book List</h2>
<ul>
	<li th:each="book : ${books}">
		<span th:text="${book.title}"></span>
		<span th:text="${book.author}"></span>
	</li>
</ul>

</body>
</html>