<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheet/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <title>Borrowing Manager</title>
</head>

<body class="h-screen flex flex-col lg:flex-row justify-between">

    <!--  Desktop Sidebar -->
    <div class="lg:flex flex-col hidden lg:block justify-between p-3 bg-primary text-white h-svh w-[15rem]">
        <div class="grow space-y-3">
            <div class="mt-2">
                <img src="../assets/open-book.png" alt="book Logo" class="w-[60px] h-[60px] m-auto">
                <div class="text-center pt-4 text-sm">Admin Portal</div>
            </div>
            <hr>
            <div class="px-4">
                <span class="material-symbols-outlined translate-y-[6px]">library_books</span>
                <a href="/books" class="font-medium ml-2">Books</a>
            </div>
            <div class="px-4">
                <span class="material-symbols-outlined translate-y-[6px]">history</span>
                <a href="/history" class="font-medium ml-2">Records</a>
            </div>
        </div>
        <div>
            <hr>
            <div class="px-4 py-2">
                <span class="material-symbols-outlined translate-y-[6px]">logout</span>
                <form class="inline" method="POST" action="/logout">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button type="submit" class="inline font-medium ml-2">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Mobile Navbar -->
    <div class="p-4 bg-primary rounded-b-xl lg:hidden">
        <div class="text-white font-bold text-2xl pb-2">Records</div>
        <search>
            <form action="">
                <input type="text" placeholder="Search for a record..." class="border p-1 w-full rounded-xl">
            </form>
        </search>
    </div>

    <!-- Content -->
    <div class="grow p-4 bg-gray-100">
        <div class="hidden lg:block lg:flex justify-center p-4">
			<input class="border rounded-md p-1 w-2/5"
				placeholder=" Search for a record..."> <span
				class="material-symbols-outlined text-neutral-400 -translate-x-[30px] translate-y-[6px]">search</span>
			<a href="/admin/books/add" class="bg-primary text-white px-4 py-1 rounded-md">New Record</a>
		</div>

        <table class="w-full text-center border-separate border-spacing-y-2">
            <thead>
                <tr class="bg-white text-primary">
                    <th class="p-3">Name</th>
                    <th class="p-3">Book Borrowed</th>
                    <th class="p-3">Status</th>
                    <th class="p-3">Date Borrowed</th>
                    <th class="p-3">Return Date</th>
                    <th class="p-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="record : ${records}" class="bg-white">
                    <td class="p-3" th:text="${record.user.lastName} + ', ' + ${record.user.firstName}" ></td>
                    <td class="p-3" th:text="${record.book.title}"></td>
                    <td class="p-3">
                        <span th:if="${record.isReturned}" class="text-green-900 font-medium">Returned</span>
                        <span th:unless="${record.isReturned}" class="text-red-900 font-medium">Borrowing</span>
                    </td>
                    <td class="p-3" th:text="${record.borrowDate}"></td>
                    <td class="p-3" th:text="${record.returnDate}"></td>
                    <td class="p-3 space-x-2 font-semibold">
                        <button class="bg-primary text-white px-4 py-1 rounded-md">Change Status</button>
                        <form class="inline" method="POST" action="/admin/records/delete">
							<input type="hidden" name="recordId" th:value="${record.id}" />
							<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                        	<button class="bg-primary text-white px-4 py-1 rounded-md">Delete</button>
                        </form>
                    </td>    
                </tr>
            </tbody>
        </table>
<!-- 
        <div class="space-y-2">
            <div class="bg-white text-primary font-semibold flex justify-between shadow-md rounded-md p-3 px-4">
                <div class="my-auto grow">Name</div>
                <div class="my-auto grow">Book Borrowed</div>
                <div class="my-auto grow">Date Borrowed</div>
                <div class="my-auto grow">Return Date</div>
                <div class="my-auto grow-[2] text-center">Actions</div>
            </div>
            <div class="bg-white flex justify-between shadow-md rounded-md p-3 px-4">
                <div>User</div>
                <div>Book Name</div>
                <div>Dec 12 2024</div>
                <div>Jan 1 2025</div>
                <div class="space-x-2 font-semibold">
                    <button class="bg-primary text-white px-4 py-1 rounded-md">Change Status</button>
                    <button class="bg-primary text-white px-4 py-1 rounded-md">Delete</button>
                </div>
            </div>
        </div> -->
    </div>

    <div
		class="py-3 flex justify-around bg-primary text-white rounded-t-xl lg:hidden">
		<a href="./book-list.html" class="grow text-center"> <span
			class="material-symbols-outlined !text-4xl">library_books</span>
		</a> <a href="./user-history.html" class="grow text-center"> <span
			class="material-symbols-outlined !text-4xl">history</span>
		</a> <a href="./logout.html" class="grow text-center"> <span
			class="material-symbols-outlined !text-4xl">logout</span>
		</a>
	</div>

    <script src="../js/sidebar.js"></script>
</body>

</html>